.wrapper {
  min-height: 10px;
  .cards {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    gap: 10px;

    padding: 10px;
    .foto {
      min-width: 33%;
      max-height: auto;
      height: 300px;

      object-fit: cover;
      width: 100%;
      border-radius: 20px;
    }

    @media (max-width: 808px) {
      grid-template-columns: 1fr;
      margin-top: 3rem;
      gap: 2rem;
    }
  }
}
