@use "./variables.scss" as *;
nav {
  position: relative;
  background-color: $navbar-color;
}

nav ul.nav {
  overflow: hidden;
}
nav ul.nav li {
  float: left;
  width: 25%;
  margin: auto;
  color: $white-color;
  justify-content: space-between;
  text-decoration: none;
}
nav ul.nav li {
  display: block;
  height: 50px;
  opacity: 0;
  text-decoration: none;
  text-align: center;
  cursor: default;
  transition: all 0.25s ease;
  &:hover a {
    color: $white-color;
    background-color: $navbar-root;
    border-radius: 10px;
    padding: 10%;
  }
}

@media screen and (max-width: 600px) {
  nav ul.nav li {
    float: none;
    width: 100%;
    display: block;
  }
  nav ul.nav li {
    height: 0;
  }
}
nav .active button.toggle-nav span {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
}
nav.active ul.nav li {
  height: 120px;
  opacity: 1;
  line-height: 120px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  header.active ul.nav li a {
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #222b2f;
  }
}

button.toggle-nav {
  position: absolute;
  top: 50px;
  left: calc(50% - 30px);
  width: 60px;
  height: 35px;
  background-color: $button-color;
  font: 400 1.2em "Allan", serif;
  color: $white-color;
  border: none;
  line-height: 30px;
  vertical-align: middle;
  outline: none;
  cursor: pointer;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: all 0.25s ease;
}
button.toggle-nav:hover {
  height: 30px;
}
nav.active button.toggle-nav {
  top: 120px;
}
button.toggle-nav span {
  display: block;
  transform: rotate(90deg);
  transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
}
//prova
@media screen and (max-width: 600px) {
  button.toggle-nav {
    top: 0;
    left: 15px;
  }
  nav.active button.toggle-nav {
    top: 350px;
  }
}

/* Other styles */

.loud {
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  section {
    padding: 1.5em;
  }
}

section {
  padding: 1rem;
}

ul {
  font-family: $font-family;

  justify-content: center;
  list-style: none;

  li a {
    color: $white-color;
    justify-content: space-between;
    text-decoration: none;
  }
}
