$font-family: Georgia, Times, "Times New Roman", serif;
$line-height: 1.5;
$font-weight: 800;
$sidebar-width: 400px;

//color
$color-scheme: light dark;
$white-color: rgba(255, 255, 255, 0.87);
$background-color: #242424;
$navbar-root: #60a5c2;
$font-synthesis: none;
$navbar-color: #f07167;
$aside-background: #0b737d;
$button-color: #38a6a6;
